<html ng-app="myApp">
<head>
  <link href="vendor/material-design-lite/material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bower Scripts -->
  <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="vendor/firebase/firebase.js"></script>
  <script type="text/javascript" src="vendor/angularfire/dist/angularfire.min.js"></script>
  <script type="text/javascript" src="vendor/material-design-lite/material.min.js"></script>

  <!-- Google Authentication Scripts -->
  <script src="javascripts/auth/google/auth.google.module.js"></script>
  <script src="javascripts/auth/google/auth.google.directive.js"></script>

  <!-- Facebook Authentication Scripts -->

  <!-- Main Authentication Script -->
  <script src="javascripts/auth/auth.module.js"></script>

  <!-- App Script -->
  <script src="javascripts/app.js"></script>
</head>
<body>
  <sp-google></sp-google>
  <div ui-view>
    <!-- $stateProvider in app.js places your views here! -->
  </div>
</body>
</html>
