#googleLogin {
  background-color: #fff !important;

  * {
    color: rgba(0,0,0,0.87) !important;
  }

  .md-focused {
    background-color: #fff;
    color: rgba(0,0,0,0.87) !important;
  }

  img {
    height: 24px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
  }
}

#googleLogout {
  md-icon {
    margin-left: 6px;  
  }
}

.avatar {
  vertical-align: middle;
  border-radius: 50px;
  width: 45px;
  height: 45px;
}
